{
  "root": true,

  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },

  "extends": [
    "eslint:recommended",

    "plugin:react/recommended",
    "plugin:react-hooks/recommended",

    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict",

    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:jsx-a11y/recommended",

    "airbnb",
    "airbnb-typescript",
    "plugin:react/jsx-runtime",
    "prettier"
  ],

  "overrides": [],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "tsconfigRootDir": ".",
    "project": ["./tsconfig.json"]
  },
  "plugins": [],
  "settings": {
    "import/resolver": {
      "typescript": { "project": "./tsconfig.json" }
    },
    "react": { "version": "18.x" }
  },

  "rules": {
    "linebreak-style": ["error", "unix"],
    "import/prefer-default-export": 0,
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ],
    "import/order": [
      "error",
      {
        "warnOnUnassignedImports": true,
        "pathGroups": [
          {
            "pattern": "assets/**",
            "group": "unknown",
            "position": "after"
          }
        ],
        "groups": [
          "type",
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "unknown"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],

    "no-restricted-imports": "error",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/consistent-type-imports": "warn",
    "@typescript-eslint/no-unnecessary-condition": "off",
    "@typescript-eslint/no-misused-promises": [
      "error",
      { "checksVoidReturn": { "attributes": false } }
    ],

    "@typescript-eslint/no-empty-interface": [
      "error",
      { "allowSingleExtends": true }
    ],

    "react/function-component-definition": [
      "warn",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "react/jsx-props-no-spreading": ["error", { "exceptions": ["input"] }],
    "react/require-default-props": [
      "warn",
      { "forbidDefaultForRequired": true, "functions": "ignore" }
    ],

    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "labelComponents": ["label"],
        "labelAttributes": ["htmlFor"],
        "controlComponents": ["input"]
      }
    ],
    "object-shorthand": "error",
    "no-shadow": "error",
    "no-console": "warn"
  }
}
